.containerInput{
    border: 1px solid #66CC99;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 325px;
    &:hover{
        border: 24px solid white;
    }
    &.error{
        border: 1px solid #DC362E;
    }
    input{
        all: unset;
        flex-grow: 1;
        padding: 15px 0px;
        padding-left: 23px;
        padding-right: 7px;
        font-size: 14px;
        font-weight: 400;
    }
    svg{
        padding-left: 16px;
        padding-right: 16px;
    }
}